
{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        
        <h1>{{ incidencia.titulo }}</h1>
        <h3>Incidencia nº {{ numPedido }}  {{ incidencia.fecha |format_datetime('short') }}</h3>
        <p><b>Usuario:</b> {{ incidencia.usuarioCliente.usuario}}</p>
        <p><b>Activo:</b> {{ incidencia.activo.nombre |capitalize}}</p>
        <p><b>Descripción:</b> {{ incidencia.descripcion |capitalize}}</p>
        <p><b>Tipo:</b> {{ incidencia.tipo |capitalize}}</p>
        <p><b>Localización:</b> {{ incidencia.localizacion }}</p>
       
    </div>
{% endblock %}
